.main{
    display: flex;
    padding: 0;
    margin: 0;
   align-items: center;
   justify-content: space-between;
   max-width: 100%;


}
.aboutSection{
   width: 50vw;
    left: 0;
    display: flex;
    align-items: center;
    background-color: rgba(217, 237, 244, 0.3);
    border-radius: 10px;
    flex-direction: column;
    padding: 10px;
 
}
.aboutSection img{
    object-fit: cover;
    overflow: hidden;
    max-width: 200px;
    text-align: center;
   height: 200px;
    border-radius:200px ;
    border: 5px solid #f7f7f7;
}
.aboutSection .editbtn{
    background-color: transparent;
    font-size: 14px;
    cursor: pointer;
    border: 0;
}
.aboutSection .editbtn:hover{
    color: rgb(47, 47, 47);
   
}
.aboutSection .savebtn{
    background-color: rgb(0, 189, 0);
    border: 0;
    border-radius: 3px;

}
.aboutSection input{
    background-color: transparent;
    border: 0;
    
    text-align: center;
}
.mainblogmanu{
    display: flex;
    flex-direction: column;
    width: 100vw;
    justify-content: space-around;
   margin-bottom: 20px;
}
.mainblogmanu .blogmanu{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    background-color: rgba(225, 239, 244, 0.2);
    justify-content: space-around;

}
.mainblogmanu .blogmanu button{
    background-color: transparent;
   color: blue;
   border: 0;

}
.mainblogmanu .blogmanu .trash{
  color: rgb(1, 1, 19);
  font-size: 20px;
}
.aboutSection .btn{
  
   margin-left: -100px;
 }